@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .smallAppBar > .brand-tabs {
    justify-content: flex-start;
  }
  .smallAppBar > .brand-tabs > .side-brand {
    width: 65%;
    padding-left: 80px;
  }
  .smallAppBar > .search-login {
    width: 35%;
  }
  .serviceSvg {
    position: absolute;
    top: 120px;
    left: 120px;
    height: 220px;
  }
  .activesvg > svg {
    stroke: #0077b6;
  }
}
